<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503574494694-gckj4a0jo194uhs9i44sjv2abuuecugi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503574494694-gckj4a0jo194uhs9i44sjv2abuuecugi</string>
	<key>API_KEY</key>
	<string>AIzaSyBpWtS8-zLlQU4onjOqyZtYiblR6eKFNX4</string>
	<key>GCM_SENDER_ID</key>
	<string>503574494694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yunus.TatliSozluk</string>
	<key>PROJECT_ID</key>
	<string>tatlisozluk-24c22</string>
	<key>STORAGE_BUCKET</key>
	<string>tatlisozluk-24c22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:503574494694:ios:3e6fc6ae4ad8aa36272a27</string>
	<key>DATABASE_URL</key>
	<string>https://tatlisozluk-24c22.firebaseio.com</string>
</dict>
</plist>
